{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if csv_data %}
    <h2>Parsed CSV Data:</h2>
    <table>
        <thead>
            <tr>
                {% if csv_data|length > 0 %}
                    {% for key in csv_data.0 %}
                        <th>{{ key }}</th>
                    {% endfor %}
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for row in csv_data %}
                <tr>
                    {% for value in row.values %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}