{% load webpack_loader static %}

<html lang="en">
  <head>
    <title>SF Django Template</title>
    <meta
      name="description"
      content="Leaving Well is a framework to improve support for young people leaving the care system."
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Leaving Well" />
    <meta
      property="og:description"
      content="Leaving Well is a framework to improve support for young people leaving the care system."
    />
    <meta property="og:site_name" content="Leaving Well" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{%  static 'common/favicon.ico' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
    />
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    {% stylesheet_pack 'app' %}
  </head>
  <body
    class="bg-white font-sans leading-normal text-grey-800"
    style="overflow: hidden"
  >
    <div class="container">
      <p>Hello SF! This is our home page.</p>
    </div>
    {% javascript_pack 'app' attrs='charset="UTF-8"' %}
  </body>
</html>
